<div class="main-container">
  <div class="left-container float-left">
    <div class="main-content float-left">
      <img [src]="mainImageUrl" alt="">
      <h2>Title Product</h2>

    </div>
    <div class="description-product float-left">
      <h2>Description Product</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis totam et dicta suscipit odio soluta eius odit eum laudantium? Eius esse non omnis nihil consectetur asperiores, aliquid voluptatem quidem ratione.</p>

    </div>

  </div>
  <div class="right-container float-right">
    <div class="similar-productOne float-left">
      <img [src]="similarProductOneUrl" alt=""  width="150px">
      <h3>Similar Product One</h3>

    </div>
    <div class="similar-productTwo float-left">
      <img [src]="similarProductTwoUrl" alt=""  width="150px">
      <h3>Similar Product Two</h3>

    </div>
    <div class="similar-productThree float-left">
      <img [src]="similarProductThreeUrl" alt="" width="150px">
      <h3>Similar Product Three</h3>
    </div>
    <div class="similar-productFour float-left">
      <img [src]="similarProductFourUrl" alt="" width="150px">
       <h3>Similar Product Four</h3>
    </div>

  </div>
</div>