<div class="main-container">
  <div class="left-container">
    <div class="main-content">
      <img [src]="mainImageUrl" alt="">
      <h2>Title Product</h2>

    </div>
    <div class="description-product">
      <h2>Description Product</h2>

    </div>

  </div>
  <div class="right-container">
    <div class="similar-productOne">
      <img [src]="similarProductOneUrl" alt="">
      <h3>Similar Product One</h3>

    </div>
    <div class="similar-productTwo">
      <img [src]="similarProductTwoUrl" alt="">
      <h3>Similar Product Two</h3>

    </div>
    <div class="similar-productThree">
      <img [src]="similarProductThreeUrl" alt="">
      <h3>Similar Product Three</h3>
    </div>
    <div class="similar-productFour">
      <img [src]="similarProductFourUrl" alt="">
       <h3>Similar Product Four</h3>
    </div>

  </div>
</div>